#Section 1: Nested Lists & Access

In [1]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

In [2]:
print("Ravi's second mark:", students[0][1][1])

Ravi's second mark: 72

In [ ]:
for name, marks in students:
    avg = sum(marks) / len(marks)
    print(f"{name}'s average: {avg:.2f}")

In [3]:

print("\nStudents scoring >80 in all subjects:")
for name, marks in students:
    if all(m > 80 for m in marks):
        print(name)

Students scoring >80 in all subjects:
Sneha

In [4]:
avg_list = [[name, sum(marks)/len(marks)] for name, marks in students]
print("\nList of [name, average]:", avg_list)

List of [name, average]: [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

#Section 2: Dictionary of Lists

In [8]:

data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}
print(data)

{'products': ['Mobile', 'Laptop', 'Tablet', 'Camera'], 'prices': [12000, 55000, 18000, 25000], 'ratings': [4.5, 4.7, 4.0, 4.2]}

In [9]:
products_list = [
    {'name': n, 'price': p, 'rating': r}
    for n, p, r in zip(data['products'], data['prices'], data['ratings'])
]
print("List of product dictionaries:", products_list)

List of product dictionaries: [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]

In [10]:
filtered_products = [prod for prod in products_list if prod['price'] > 20000 and prod['rating'] >= 4.5]
print("\nFiltered products:", filtered_products)

Filtered products: [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]

In [11]:
sorted_products = sorted(products_list, key=lambda x: x['rating'], reverse=True)
print("\nProducts sorted by rating (desc):", sorted_products)

Products sorted by rating (desc): [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

#Section 3: Frequency Dictionary + Set Operations

In [13]:
text = "ai is the future and ai will change everything in the ai world"
print(text)

ai is the future and ai will change everything in the ai world

In [14]:
words = text.split()
freq = {}
for word in words:
    freq[word] = freq.get(word, 0) + 1
print("Word frequencies:", freq)

Word frequencies: {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

In [15]:
print("\nWords appearing more than once:", [w for w, c in freq.items() if c > 1])

Words appearing more than once: ['ai', 'the']

In [16]:
unique_words = sorted(set(words))
print("\nUnique sorted words:", unique_words)

Unique sorted words: ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [17]:
set1 = set(words)
set2 = {"ai", "ml", "data", "future"}
common_words = set1.intersection(set2)
print("\nCommon words:", common_words)

Common words: {'future', 'ai'}

#Section 4: Dictionary Comprehension + Conditional Logic

In [18]:
sales = {
    'Amit': 70000,
    'Sneha': 45000,
    'Ravi': 30000,
    'Anita': 90000,
    'Kabir': 20000
}
print(sales)

{'Amit': 70000, 'Sneha': 45000, 'Ravi': 30000, 'Anita': 90000, 'Kabir': 20000}

In [19]:
bonus_sales = {k: v*1.1 for k, v in sales.items()}
print("Sales with 10% bonus:", bonus_sales)

Sales with 10% bonus: {'Amit': 77000.0, 'Sneha': 49500.00000000001, 'Ravi': 33000.0, 'Anita': 99000.00000000001, 'Kabir': 22000.0}

In [20]:
high_sales = {k: v for k, v in sales.items() if v > 50000}
print("\nSales > 50,000:", high_sales)

Sales > 50,000: {'Amit': 70000, 'Anita': 90000}

In [21]:
labels = {
    k: 'High' if v >= 75000 else 'Medium' if v >= 40000 else 'Low'
    for k, v in sales.items()
}
print("\nSales labels:", labels)

Sales labels: {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

#Section 5: Tuples, Sets, and Zipping

In [23]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)
print("Names:", names)
print("Marks:", marks)

Names: ('Ravi', 'Sneha', 'Kabir')
Marks: (88, 92, 76)

In [24]:
marks_dict = dict(zip(names, marks))
print("Dictionary from tuples:", marks_dict)

Dictionary from tuples: {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [25]:
print("Min mark:", min(marks))
print("Max mark:", max(marks))

Min mark: 76
Max mark: 92

In [26]:
marks_set = set(marks)
marks_set.add(85)
print("\nSet after adding 85:", marks_set)

Set after adding 85: {88, 92, 85, 76}

In [27]:
extra_marks = {70, 92, 88}
merged_set = marks_set.union(extra_marks)
print("Merged unique set:", merged_set)

Merged unique set: {85, 70, 88, 92, 76}

#Nested Employee Dictionary

In [29]:
employees = {
    "E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
    "E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
    "E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}
print("Employees:", employees)

Employees: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}}

In [30]:
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 70000}
print("Employees after adding E104:", employees)

Employees after adding E104: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 70000}}

In [31]:
for emp in employees.values():
    if emp["dept"] == "Engineering":
        emp["salary"] *= 1.10

print("\nAfter 10% raise for Engineering:", employees)

After 10% raise for Engineering: {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 77000.0}}

In [32]:
dept_salaries = {}
for emp in employees.values():
    dept = emp["dept"]
    dept_salaries.setdefault(dept, []).append(emp["salary"])

avg_salaries = {d: sum(sal)/len(sal) for d, sal in dept_salaries.items()}
highest_dept = max(avg_salaries, key=avg_salaries.get)
print("\nDepartment with highest average salary:", highest_dept, "->", avg_salaries[highest_dept])

Department with highest average salary: Engineering -> 82500.0