In [1]:
import pandas as pd


emp_data = """EmpID,Name,Department
101,Amit,Sales
102,Anita,Engineering
103,Kabir,HR
104,Sneha,Marketing
105,Ravi,Engineering
"""
with open('employees.csv', 'w') as f:
    f.write(emp_data)

dept_data = """Department,Location
Sales,Mumbai
Engineering,Bangalore
HR,Delhi
Marketing,Chennai
"""
with open('departments.csv', 'w') as f:
    f.write(dept_data)


df_emp = pd.read_csv('employees.csv')
df_dept = pd.read_csv('departments.csv')

print(df_emp)
print(df_dept)

   EmpID   Name   Department
0    101   Amit        Sales
1    102  Anita  Engineering
2    103  Kabir           HR
3    104  Sneha    Marketing
4    105   Ravi  Engineering
    Department   Location
0        Sales     Mumbai
1  Engineering  Bangalore
2           HR      Delhi
3    Marketing    Chennai

In [3]:
merge_df=pd.merge(df_emp,df_dept,on='Department',how='inner')
print(merge_df)

   EmpID   Name   Department   Location
0    101   Amit        Sales     Mumbai
1    102  Anita  Engineering  Bangalore
2    103  Kabir           HR      Delhi
3    104  Sneha    Marketing    Chennai
4    105   Ravi  Engineering  Bangalore

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark Basics") \
    .getOrCreate()

In [5]:
data = [("amit",25),("shruthi",20),("lithesh",17)]
column = ["name","age"]

df=spark.createDataFrame(data,column)
df.show()

+-------+---+
|   name|age|
+-------+---+
|   amit| 25|
|shruthi| 20|
|lithesh| 17|
+-------+---+

In [7]:
df=spark.read.csv('employees.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+-----+-----+-----------+
|EmpID| Name| Department|
+-----+-----+-----------+
|  101| Amit|      Sales|
|  102|Anita|Engineering|
|  103|Kabir|         HR|
|  104|Sneha|  Marketing|
|  105| Ravi|Engineering|
+-----+-----+-----------+

root
 |-- EmpID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)